

#center_title {
	background: transparent;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border:1px solid #f00;
  position: absolute;
  top: 152px;
	left: 194px;
}

#pieChart{
	width: 50%;
	height: 50%;
	position: relative;
	margin: 30px auto;
}

.weather{
	position: relative;
	left: 0px
}

img#w_icon {
width: 22px;
}